.mainmargin {
    margin:30px;
}
footer {
    border-top:1px solid #dbe9b7;
    padding:30px;
}
img.thumbnails {
    margin:20px 15px;
}
.margintop {
    margin-top:50px;
}
body {
    cursor:url(../img/Cta.ani),default;
    background-color: #fdfdf6;
}
header.nav{
	background-color: #b8b2a6;
}
.booksname{
	margin-left: 30px;
	margin-top: 20px;
}
